* {
    box-sizing: border-box;
}

.scrollable {
    overflow: scroll;
    height: 200px;
}

#searchPaypalTransactionsInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#paypalTransactionsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#paypalTransactionsTable th, #paypalTransactionsTable td {
    text-align: left;
    padding: 12px;
}

#paypalTransactionsTable tr {
    border-bottom: 1px solid #ddd;
}

#paypalTransactionsTable tr.header, #paypalTransactionsTable tr:hover {
    background-color: #f1f1f1;
}
