<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/admin_users.js"></script>
    <link rel="stylesheet" href="/static/css/admin_users.css">
</head>
<body onload="loadUsers()">
    <input type="text" id="searchUsersInput" onkeyup="dynamicSearch()" placeholder="Search users by name..."
           title="Type in a name">

    <div class="scrollable">
        <table id="usersTable">
            <tr class="header">
                <th onclick="sortTable(0)">Id</th>
                <th onclick="sortTable(1)">Email</th>
                <th onclick="sortTable(2)">Balance</th>
            </tr>
        </table>
    </div>
</body>
</html>