<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/admin_users.js"></script>
    <link rel="stylesheet" href="/static/css/admin_users.css">
</head>
<body onload="loadUsers()">
    <input type="text" id="searchUsersInput" onkeyup="dynamicSearch()" placeholder="Search users by name..."
           title="Type in a name">

    <div{# class="scrollable"#}>
        <form id="usersTableForm" method="post">
            <table id="usersTable">
                <tr class="header">
                    <th onclick="sortTable(0)">id</th>
                    <th onclick="sortTable(1)">email</th>
                    <th onclick="sortTable(2)">balance</th>
                    <th onclick="sortTable(3)">role</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </form>
    </div>

    <div class="form-popup" id="updateUserForm">
        <form id="updateUserForm" action="/api/a/update_user" class="form-container" method="post">
            <h1 id="updateUserFormHeader">placeholder</h1>

            <label><b>Email</b>
                <input id="newEmailInput" type="text" name="new_email" value="placeholder" required>
            </label>

            <label><b>Password</b>
                <input id="newPassInput" type="text" name="new_pass" placeholder="Enter new password...">
            </label>

            <label><b>Balance</b>
                <input id="newBalanceInput" type="text" name="new_balance" value="placeholder" required>
            </label>

            <label><b>Role</b>
                <input id="newRoleInput" type="text" name="new_role" value="placeholder" required>
            </label>

            <input type="hidden" id="userId" name="user_id" value="placeholder">

            <button type="submit">Done</button>
            <button type="button" onclick="closeUpdateUserForm()">Cancel</button>
        </form>
    </div>
</body>
</html>