<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body onload="">
    <h2>{{ user.get_balance() }} EUR</h2>

    <button class="open-button" onclick="openForm()">Create Transaction</button>

    <div class="form-popup" id="myForm">
        <form id="newTransactionForm" action="/api/create_transaction" class="form-container" method="post">
            <h1>Create a new transaction</h1>

            <label><b>Change in your balance</b>
                <input type="text" placeholder="ex.: -5" name="change_in_balance" required>
            </label>

            <div id="transferReceiversDiv" style="background: lightblue">
                <h3 id="transferReceiversHeader">Transfer receivers 0/1</h3>
                <p id="emptySetPlaceholder" style="color: #888487">Select a user below...</p>
            </div>

            <input type="text" id="searchUsersInput" onkeyup="dynamicSearch()" placeholder="Search for users..."
                   title="Type in a name">

            <div class="scrollable">
                <table id="usersTable">
                    <tr class="header">
                        <th>Name</th>
                    </tr>
                </table>
            </div>

            <button id="newTransactionSubmitButton" type="submit" class="btn">Done</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>

{##}
{#    <div class="settingsDropdown">#}
{#        <button class="settingsDropdownButton" onclick="toggleSettingsDropdownContentsVisibility()">Profile</button>#}
{#        <div id="settingsDropdownContents" class="settingsDropdownContents">#}
{#            <a href="/settings">Settings</a>#}
{#            <a href="/logout">Log out</a>#}
{#    </div>#}
{##}
{#    <a href="/logout">Logout</a>#}
{##}


    <table>
        {% for t in transactions %}
            {% if t[6] == "current user is initiator" %}
                {% if t[1] == "closed" %}
                    <tr style="background: #888487">
                        <td>Change in your balance: {{ t[4] }}; Change in other person's balance: {{ t[5] }}</td>

                        <td>
{#                            <button>Accept</button>#}
                        </td>

                        <td>
                            <button>Reject</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Change in your balance: {{ t[4] }}; Change in other person's balance: {{ t[5] }}</td>

                        <td>
{#                            <form action="/api/complete_transaction" method="post">#}
{#                                <button type="submit" name="answer" value="accept;{{ t[0] }}">Accept</button>#}
{#                            </form>#}
                        </td>

                        <td>
                            <form action="/api/complete_transaction" method="post">
                                <button type="submit" name="answer" value="reject;{{ t[0] }}">Reject</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                {% if t[1] == "closed" %}
                    <tr style="background: #888487">
                        <td>Change in your balance: {{ t[5] }}; Change in other person's balance: {{ t[4] }}</td>

                        <td>
                            <button>Accept</button>
                        </td>

                        <td>
                            <button>Reject</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Change in your balance: {{ t[5] }}; Change in other person's balance: {{ t[4] }}</td>

                        <td>
                            <form action="/api/complete_transaction" method="post">
                                <button type="submit" name="answer" value="accept;{{ t[0] }}">Accept</button>
                            </form>
                        </td>

                        <td>
                            <form action="/api/complete_transaction" method="post">
                                <button type="submit" name="answer" value="reject;{{ t[0] }}">Reject</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>