<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body onload="">
    <h2>{{ user.get_balance() }} EUR</h2>

{##}
{#    <div class="settingsDropdown">#}
{#        <button class="settingsDropdownButton" onclick="toggleSettingsDropdownContentsVisibility()">Profile</button>#}
{#        <div id="settingsDropdownContents" class="settingsDropdownContents">#}
{#            <a href="/settings">Settings</a>#}
{#            <a href="/logout">Log out</a>#}
{#    </div>#}
{##}
{#    <a href="/logout">Logout</a>#}
{##}
{#    <input type="text" id="searchUsersInput" onkeyup="dynamicSearch()" placeholder="Search for names.."#}
{#           title="Type in a name">#}
{##}
{#    <table id="usersTable">#}
{#        <tr class="header">#}
{#            <th>Name</th>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Devin</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Baldaran</td>#}
{#        </tr>#}
{#    </table>#}

    <table>
        {% for t in transactions %}
            {% if t[6] == "current user is initiator" %}
                {% if t[1] == "closed" %}
                    <tr style="background: #888487">
                        <td>Change in your balance: {{ t[4] }}; Change in other person's balance: {{ t[5] }}</td>

                        <td>
{#                            <button>Accept</button>#}
                        </td>

                        <td>
                            <button>Reject</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Change in your balance: {{ t[4] }}; Change in other person's balance: {{ t[5] }}</td>

                        <td>
{#                            <form action="/api/complete_transaction" method="post">#}
{#                                <button type="submit" name="answer" value="accept;{{ t[0] }}">Accept</button>#}
{#                            </form>#}
                        </td>

                        <td>
                            <form action="/api/complete_transaction" method="post">
                                <button type="submit" name="answer" value="reject;{{ t[0] }}">Reject</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                {% if t[1] == "closed" %}
                    <tr style="background: #888487">
                        <td>Change in your balance: {{ t[5] }}; Change in other person's balance: {{ t[4] }}</td>

                        <td>
                            <button>Accept</button>
                        </td>

                        <td>
                            <button>Reject</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Change in your balance: {{ t[5] }}; Change in other person's balance: {{ t[4] }}</td>

                        <td>
                            <form action="/api/complete_transaction" method="post">
                                <button type="submit" name="answer" value="accept;{{ t[0] }}">Accept</button>
                            </form>
                        </td>

                        <td>
                            <form action="/api/complete_transaction" method="post">
                                <button type="submit" name="answer" value="reject;{{ t[0] }}">Reject</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>