<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">

    <div id="flashedMessagesDiv">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
</head>

<body onload="hideFlashedMessages(); loadTransactions({{ user.get_id() }});">
    <div class="settingsDropdown">
        <button class="settingsDropdownButton" onclick="toggleSettingsDropdownContentsVisibility()"></button>
        <div id="settingsDropdownContents" class="settingsDropdownContents">
            <a href="/h/settings" target="_blank">Settings</a>
            <a href="/logout">Log out ({{ user.get_email() }})</a>
        </div>
    </div>

    <div id="moneyDiv">
        <h1>€ {{ user.get_balance() }}</h1>
        <a id="paypalHref" href="/h/paypal" target="_blank">
            <button class="addMoneyButton"><b>+ Add money</b></button>
        </a>
        <p style="margin-left: 50px; margin-bottom: 40px">Euro is the only supported currency currently.</p>
    </div>

    <button class="newTransactionOpenButton" onclick="openForm()">Create Transaction</button>

    <div class="newTransactionDiv" id="myForm">
        <form id="newTransactionForm" action="/api/create_transaction" class="newTransactionForm" method="post">
            <h1>Create a new transaction</h1>

            <label><b>Change in your balance</b>
                <input type="text" placeholder="ex.: -5" name="change_in_balance" required>
            </label>

            <div id="transferReceiversDiv" style="background: lightblue">
                <p><b id="transferReceiversHeader">Transfer receivers 0/1</b></p>
                <p id="emptySetPlaceholder" style="color: #888487">Select a user below...</p>
            </div>

            <input type="text" id="searchUsersInput" onkeyup="dynamicSearch()" placeholder="Search for users..."
                   title="Type in a name">

            <div class="newTransactionFormScrollable">
                <table id="usersTable">
                    <tr class="header"></tr>
                </table>
            </div>

            <button id="newTransactionSubmitButton" type="submit" class="newTransactionSubmitButton">Done</button>
            <button type="button" class="newTransactionSubmitButton newTransactionCancelButton" onclick="closeForm()">Cancel</button>
        </form>
    </div>

    <div class="transactionsTableDiv">
        <table id="transactionsTable" cellspacing="0" cellpadding="0">
            <tr class="header">
                <th style="width: 30%">Change in your balance</th>
                <th style="width: 30%">Other user</th>
                <th>Change in other person's balance</th>
                <th style="width: 10%"></th>
                <th style="width: 10%"></th>
            </tr>
        </table>
    </div>
</body>
</html>