<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add money with PayPal</title>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="/static/js/paypal.js"></script>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/paypal.css">
</head>
<body onload="initFocus();">
    <div id="addMoneyDiv">
        <h1>Add money</h1>
        <hr>

        <div id="amountDiv">
            <label for="amount"><b>Amount (in EUR)</b></label>
            <input id="amount" type="text" placeholder="Enter amount..." name="amount">
        </div>

        <div id="paypal-button" onclick=""></div>
    </div>
</body>
</html>