<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="/static/js/register.js"></script>
    <link rel="stylesheet" href="/static/css/register.css">

    <div id="flashedMessagesDiv">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
</head>

<body onload="initFocus(); hideFlashedMessages();">
    <div class="registerDiv">
        <h1 style="font-size: 2vw">Register</h1>
        <p style="font-size: 1.3vw">Fill in the form to register a new account.</p>
        <hr>

        <form method="post">
            <label for="email" style="font-size: 1.4vw"><b>Email</b></label>
            <input id="email" type="text" name="email" placeholder="Enter an email..." required>

            <label for="password" style="font-size: 1.4vw"><b>Password</b></label>
            <input id="password" type="password" name="password" placeholder="Enter a password..." required>

            <input type="submit" value="Register" class="registerSubmitButton">
        </form>

        <hr>
        <p>Already have an account? <a href="/login">Log in</a>.</p>
    </div>
</body>
</html>